params.outdir = 's3://altmx-artemis/data/pubmed/'
params.env = 'prod'

process {
    container = 'h8y0t9h1/pubmed:latest'
}

wave.build.repository = 'public.ecr.aws'

profiles {
    local {
        includeConfig 'conf/base.config'
        includeConfig 'conf/local.config'
    }
    seqera {
        includeConfig 'conf/base.config'
    }
}
